<div class="d-flex mb-4">
  <mat-table [dataSource] = "dataSource" class = "mat-elevation-z8">

    <ng-container matColumnDef=" ">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row; let rIndex = index;">
        {{rIndex+1}}
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let header of displayedColumns | slice:1:displayedColumns.length; index as cindex" [cdkColumnDef]="header">
      <th class="w-10" mat-header-cell *matHeaderCellDef style="width:50%;">
        <a class="header-value" >{{header}}</a>
      </th>
      <td class="w-10" mat-cell *cdkCellDef="let element">
        <span *ngIf="header === 'Produits'">
          <mat-select class="w-10">
            <mat-option *ngFor='let obj of objects' [value] ="obj.value">
              {{obj.value}}
            </mat-option>
          </mat-select>
        </span>
        <!--<span #elseBlock>
          <textarea></textarea>
        </span>-->
        <span *ngIf="header === 'Quantité'">
          <input>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
</div>
<div class="row justify-content-end mr-3">
    <button style="padding: 2em;" mat-raised-button>Send datas</button>

</div>

