
  .pageContainer {
    width: 100%;
    height: 100%;
  }

  .activeCell{
    background-color:  skyblue;;
  }


  .mat-table {
    overflow-x:scroll;
    width: 100%;
    table-layout:auto;
    > .mat-header-row, > .mat-row {
      display: table-row;
      table-layout:auto;
      border: 1px solid skyblue;
      background-color: white;
      > .mat-header-cell {
        border: 1px solid rgba(0, 0, 0, 0.54);
        table-layout:auto;
        vertical-align: middle;
        text-align: center;
        color: rgba(0, 0, 0, 0.54);
        font-size: 13px;

        background-color: skyblue;
        border-bottom: 1px solid rgba(96, 96, 96, 0.12);
        cursor: auto;
        display: table-cell;
        flex: 0 0 25% !important;
        min-width: 15em !important;
      }
      > .mat-cell {
        border: 1px solid skyblue;
        table-layout:auto;
        vertical-align: middle;
        text-align: center;
        color: black;
        font-size: 13px;
        word-wrap: initial;
        display: table-cell;
        padding: 0px 10px;

        line-break: unset;
        flex: 0 0 25% !important;
        min-width: 15em !important;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
       // border-bottom: 1px solid rgba(96, 96, 96, 0.12);
        cursor: auto;
      }
    }
  }

  .header-value {
    font-weight: bold;
    table-layout:auto;
    font-size: 1vw;
    color: rgba(0, 0, 0, 0.54);
    &:hover {
      color: rgb(0, 105, 146)
    }
  }

  .cell-value {
    color: black;
    table-layout:auto;
    font-size: 0.8vw;
    &:hover {
      color: rgb(0, 105, 146)
    }

  .window {
    overflow-x:scroll;
  }

  .mat-select {
    width : max-content;
  }

  .w-10 {
    width:10% !important;
  }
  }
