
  .pageContainer {
    width: 100%;
    height: 100%;
  }

  .activeCell{
    background-color:  skyblue;;
  }


  .mat-table {
    display: table;
    padding: 0;
    border: none;
    overflow-x:scroll;
    > .mat-header-row, > .mat-row {
      display: table-row;
      padding: 0 12px;
      border: 1px solid skyblue;
      min-height: 24px;
      width: max-content;
      background-color: white;
      > .mat-header-cell {
        border: 1px solid rgba(0, 0, 0, 0.54);
        vertical-align: middle;
        text-align: center;
        color: rgba(0, 0, 0, 0.54);
        font-size: 13px;
        background-color: skyblue;
        border-bottom: 1px solid rgba(96, 96, 96, 0.12);
        cursor: auto;
        word-wrap: initial;
        display: table-cell;
        padding: 0px 1em;
        line-break: unset;
        min-width: 10%;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
      }
      > .mat-cell {
        border: 1px solid skyblue;
        vertical-align: middle;
        text-align: center;
        color: black;
        font-size: 13px;
        word-wrap: initial;
        display: table-cell;
        padding: 0px 10px;
        line-break: unset;
        min-width: 10%;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
       // border-bottom: 1px solid rgba(96, 96, 96, 0.12);
        cursor: auto;
      }
    }
  }

  .header-value {
    font-weight: bold;
    font-size: 1vw;
    color: rgba(0, 0, 0, 0.54);
    &:hover {
      color: rgb(0, 105, 146)
    }
  }

  .cell-value {
    color: black;
    font-size: 0.8vw;
    &:hover {
      color: rgb(0, 105, 146)
    }

  .window {
    overflow-x:scroll;
  }

  .mat-select {
    width : max-content;
  }
  }
